body {
    background: #373843;
}

.app header {
    height: 70px;
    
    background: #424552;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    
    position: fixed;
    width: 100vw;
    top: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.app header .logo {
    height: 65px;

    margin-top: 40px
}

.app header a {
    margin-top: 12px;
        
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    text-decoration: none;

    transition: color 0.2s;


    color: #A5A1A1;
}

.app header a:hover {
    color: #d8d4d4;
}

.app header a:focus {
    color: #f0f0f0;
}

.app .heroInner {
    margin-top: 200px;
}

.app .heroInner .title {
    font-family: Viga;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 54px;
    text-align: center;

    /* identical to box height */


    color: #CDCDCD;
}

.app .heroInner .subtitle {
    font-family: Viga;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 38px;
    text-align: center;

    color: #70758A;
}

.app .heroInner .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px
}

.app .heroInner .buttons .login {
    background-image: linear-gradient(90deg, #EC2FF0 0%, rgba(233, 144, 235, 0.78) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;

    font-family: Viga;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 54px;
    /* identical to box height */

    text-decoration: none;
    cursor: pointer;

    outline: none;

    width: 190px;
    height: 60px;

    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 20px;
    border: none;

    transition: background-image 1s ease-out;  

}

.app .heroInner .buttons .login:hover {
    background-image: linear-gradient(90deg, #ec22c0 0%, rgba(253, 146, 255, 0.78) 100%);
    border: none
}

.app .heroInner .buttons .login:focus {
    background-image: linear-gradient(90deg, rgba(253, 161, 255, 0.78) 0%, #fb10ff 100%);

    outline: none;
    border: none
}


.app .heroInner .buttons .login img {
    height: 45px;
}

.app .heroInner .buttons .extra {
    background: #373843;
    border: 4px solid #424552;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;

    outline: none;

    font-family: Viga;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 54px;
    /* identical to box height */

    text-decoration: none;
    text-align: center;

    width: 190px;
    height: 60px;

    color: #616471;
    outline: none;

    transition: border 0.2s;
    transition: color 0.2s

}

.app .heroInner .buttons .extra:hover {
    border: 4px solid #595c66;
    color: #6a6d75;
}

.app .heroInner .buttons .extra:focus {
    border: 4px solid #646670;
    color: #7c7e86;
    
    outline: none;
}
