<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/app.css">
    <title>De Graça! • Tudo isso é para você.</title>
</head>
<body>
    <div class="app">
        <section id="home">
            <header>
                <a href="#home">Início</a>
                <a href="#commands">Comandos</a>
                <img src="./images/logo.png" alt="Logo de Graca" class="logo">
                <a href="#rewards">Benefícios</a>
                <a href="/auth">Entrar</a>
            </header>
            <div class="heroInner">
                <h1 class="title">
                    Receba seus prêmios e recompensas!
                </h1>
                <h2 class="subtitle">
                    Oferemos items grátis no Discord, Steam, EpicStore, Minecraft e muito mais!
                </h2>
                <div class="buttons">
                    <a class="login" href="/auth">
                        <img src="./images/discord-logo.svg" alt="Discord Logo">
                        Login
                    </a>
                    <a class="extra" href="#rewards">
                        Benefícios
                    </a>
                </div>
            </div>
        </section>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>.
    </div>
</body>
</html>

<!-- Começou a parte dificil, oficialmente, pq eu sou ruim em design vou sofrer ;-; -->