<link rel="stylesheet" href="./styles/header.css">
            <div>%</div>
            <header>
                <a id="homeInput" href="#home">Início</a>
                <a href="#commands">Comandos</a>
                <img id="logoInput" src="./images/logo.png" alt="Logo de Graca" class="logo">
                <a href="#rewards">Benefícios</a>
                <a id="authenticationInput" href="/dashboard">Painel</a>
            </header>
            <script src="./scripts/header.js"></script>