<link rel="stylesheet" href="./styles/header.css">
            <div>%</div>
            <header>
                <a href="#home">Início</a>
                <a href="#commands">Comandos</a>
                <img src="./images/logo.png" alt="Logo de Graca" class="logo">
                <a href="#rewards">Benefícios</a>
                <a href="/auth">Entrar</a>
            </header>